/*  your css code here. If applicable */
table {
            background-color: yellow;
	 border: 1px solid rgb(0,0,0);
        }

        th{
            border: 1px solid rgb(0,0,0);
        }
        td{
            border: 1px solid rgb(0,0,0);
        }
tr {
            border: 1px solid rgb(0,0,0);
	
}
thead{
	 border: 1px solid rgb(0,0,0);
}